body{padding: 5em;
background-color: #BDC4A7;
color:#274c68;
font-size: 1.5em;
font-family: 'Raleway', sans-serif;}

h1,h2,h3{text-align: center;}

p{width:750px;}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: #D5E1A3;}
a{color:#B56B45;
	text-decoration: none;
	font-size: 2em;s}